.title {
	font-size: 80px;
	margin-top: 0px;
	margin-bottom: 50px;
}

header {
	background-image: url("../images/traaiin.png")
}

h1 {
	color: azure;
}

.header-text {
	font-size: 25px;
	font: bold;
	color: white;
}

.time-text {
	font-size: 18px;
}

body {
	background-image: url("../images/squared_metal.png")
}

.card-title {
	color: white;
	padding-bottom: 5px;
	padding-left: 15px;
}

.card {
	margin-top: 10px;
	margin-bottom: 10px;
}

.card-row {
	margin: 10px 50px;
}

th {
	font-weight: bold;
}